# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/Milestone/ffmpeg.exe
server/ffmpeg/*
server/Milestone/*.dll
server/Milestone/VideoOs.exe
server/Milestone/VideoOs.exe.config
server/Milestone/VideoOs.pdb
server/Milestone/VideoOS.Platform.SDK.Export.xml
server/Milestone/VideoOS.Platform.SDK.UI.xml
server/Milestone/VideoOS.Platform.SDK.xml
server/Milestone/VideoOS.Platform.xml
server/Milestone/VideoOs.vshost.exe
server/Milestone/VideoOs.vshost.exe.config
server/Milestone/VideoOs.vshost.exe.manifest
server/Milestone/ar-SA/VideoOS.Platform.resources.dll
server/Milestone/ar-SA/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/ar-SA/VideoOS.Platform.SDK.resources.dll
server/Milestone/ar-SA/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/ar-SA/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/bg-BG/VideoOS.Platform.resources.dll
server/Milestone/bg-BG/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/bg-BG/VideoOS.Platform.SDK.resources.dll
server/Milestone/bg-BG/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/bg-BG/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/cs-CZ/VideoOS.Platform.resources.dll
server/Milestone/cs-CZ/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/cs-CZ/VideoOS.Platform.SDK.resources.dll
server/Milestone/cs-CZ/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/cs-CZ/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/da-DK/VideoOS.Platform.resources.dll
server/Milestone/da-DK/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/da-DK/VideoOS.Platform.SDK.resources.dll
server/Milestone/da-DK/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/da-DK/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/de/System.Windows.Interactivity.resources.dll
server/Milestone/de-DE/VideoOS.Platform.resources.dll
server/Milestone/de-DE/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/de-DE/VideoOS.Platform.SDK.resources.dll
server/Milestone/de-DE/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/de-DE/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/en/System.Windows.Interactivity.resources.dll
server/Milestone/es/System.Windows.Interactivity.resources.dll
server/Milestone/es-ES/VideoOS.Platform.resources.dll
server/Milestone/es-ES/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/es-ES/VideoOS.Platform.SDK.resources.dll
server/Milestone/es-ES/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/es-ES/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/fa-IR/VideoOS.Platform.resources.dll
server/Milestone/fa-IR/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/fa-IR/VideoOS.Platform.SDK.resources.dll
server/Milestone/fa-IR/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/fa-IR/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/fi-FI/VideoOS.Platform.resources.dll
server/Milestone/fi-FI/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/fi-FI/VideoOS.Platform.SDK.resources.dll
server/Milestone/fi-FI/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/fi-FI/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/fr/System.Windows.Interactivity.resources.dll
server/Milestone/fr-FR/VideoOS.Platform.resources.dll
server/Milestone/fr-FR/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/fr-FR/VideoOS.Platform.SDK.resources.dll
server/Milestone/fr-FR/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/fr-FR/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/he-IL/VideoOS.Platform.resources.dll
server/Milestone/he-IL/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/he-IL/VideoOS.Platform.SDK.resources.dll
server/Milestone/he-IL/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/he-IL/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/hi-IN/VideoOS.Platform.resources.dll
server/Milestone/hi-IN/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/hi-IN/VideoOS.Platform.SDK.resources.dll
server/Milestone/hi-IN/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/hi-IN/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/hr-HR/VideoOS.Platform.resources.dll
server/Milestone/hr-HR/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/hr-HR/VideoOS.Platform.SDK.resources.dll
server/Milestone/hr-HR/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/hr-HR/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/hu-HU/VideoOS.Platform.resources.dll
server/Milestone/hu-HU/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/hu-HU/VideoOS.Platform.SDK.resources.dll
server/Milestone/hu-HU/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/hu-HU/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/is-IS/VideoOS.Platform.resources.dll
server/Milestone/is-IS/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/is-IS/VideoOS.Platform.SDK.resources.dll
server/Milestone/is-IS/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/is-IS/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/it/System.Windows.Interactivity.resources.dll
server/Milestone/it-IT/VideoOS.Platform.resources.dll
server/Milestone/it-IT/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/it-IT/VideoOS.Platform.SDK.resources.dll
server/Milestone/it-IT/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/it-IT/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/ja/System.Windows.Interactivity.resources.dll
server/Milestone/ja-JP/VideoOS.Platform.resources.dll
server/Milestone/ja-JP/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/ja-JP/VideoOS.Platform.SDK.resources.dll
server/Milestone/ja-JP/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/ja-JP/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/ko/System.Windows.Interactivity.resources.dll
server/Milestone/ko-KR/VideoOS.Platform.resources.dll
server/Milestone/ko-KR/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/ko-KR/VideoOS.Platform.SDK.resources.dll
server/Milestone/ko-KR/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/ko-KR/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/nb-NO/VideoOS.Platform.resources.dll
server/Milestone/nb-NO/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/nb-NO/VideoOS.Platform.SDK.resources.dll
server/Milestone/nb-NO/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/nb-NO/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/nl-NL/VideoOS.Platform.resources.dll
server/Milestone/nl-NL/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/nl-NL/VideoOS.Platform.SDK.resources.dll
server/Milestone/nl-NL/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/nl-NL/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/pl-PL/VideoOS.Platform.resources.dll
server/Milestone/pl-PL/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/pl-PL/VideoOS.Platform.SDK.resources.dll
server/Milestone/pl-PL/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/pl-PL/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/pt-BR/VideoOS.Platform.resources.dll
server/Milestone/pt-BR/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/pt-BR/VideoOS.Platform.SDK.resources.dll
server/Milestone/pt-BR/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/pt-BR/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/ru/System.Windows.Interactivity.resources.dll
server/Milestone/ru-RU/VideoOS.Platform.resources.dll
server/Milestone/ru-RU/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/ru-RU/VideoOS.Platform.SDK.resources.dll
server/Milestone/ru-RU/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/ru-RU/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/sk-SK/VideoOS.Platform.resources.dll
server/Milestone/sk-SK/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/sk-SK/VideoOS.Platform.SDK.resources.dll
server/Milestone/sk-SK/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/sk-SK/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/sr-Latn-RS/VideoOS.Platform.resources.dll
server/Milestone/sr-Latn-RS/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/sr-Latn-RS/VideoOS.Platform.SDK.resources.dll
server/Milestone/sr-Latn-RS/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/sr-Latn-RS/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/sv-SE/VideoOS.Platform.resources.dll
server/Milestone/sv-SE/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/sv-SE/VideoOS.Platform.SDK.resources.dll
server/Milestone/sv-SE/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/sv-SE/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/th-TH/VideoOS.Platform.resources.dll
server/Milestone/th-TH/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/th-TH/VideoOS.Platform.SDK.resources.dll
server/Milestone/th-TH/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/th-TH/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/tr-TR/VideoOS.Platform.resources.dll
server/Milestone/tr-TR/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/tr-TR/VideoOS.Platform.SDK.resources.dll
server/Milestone/tr-TR/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/tr-TR/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/uk-UA/VideoOS.Platform.resources.dll
server/Milestone/uk-UA/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/uk-UA/VideoOS.Platform.SDK.resources.dll
server/Milestone/uk-UA/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/uk-UA/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/zh-CN/VideoOS.Platform.resources.dll
server/Milestone/zh-CN/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/zh-CN/VideoOS.Platform.SDK.resources.dll
server/Milestone/zh-CN/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/zh-CN/VideoOS.UI.Common.WPF.resources.dll
server/Milestone/zh-Hans/System.Windows.Interactivity.resources.dll
server/Milestone/zh-Hant/System.Windows.Interactivity.resources.dll
server/Milestone/zh-TW/VideoOS.Platform.resources.dll
server/Milestone/zh-TW/VideoOS.Platform.SDK.Export.resources.dll
server/Milestone/zh-TW/VideoOS.Platform.SDK.resources.dll
server/Milestone/zh-TW/VideoOS.Platform.SDK.UI.resources.dll
server/Milestone/zh-TW/VideoOS.UI.Common.WPF.resources.dll
