
.content {height: 100%; width:100%; display: flex; flex-direction: column; border-radius: 3px; border: 2px;}
.content .win_header {overflow:hidden; background:#8199B9; height:34px; line-height:34px; border-radius:3px; padding: 10; padding: unset;}
.content h4 {float:left; font-weight:700; font-size:15px; color:#ffffff; padding-left:35px; background:url('../Image/win_icon@2x.png') no-repeat 11px 50%; background-size:17px 14px;}
.content .win_header .win_controller {float:right; padding-right:6px; padding-top:6px;}
.content .win_header .win_controller button {cursor:pointer; border-radius:2px; float:left; margin-right:3px; box-shadow:2px 2px #6C809B; width:24px; height:22px; background:#ffffff url('../Image/minwin@2x.png') no-repeat 50% 50%; background-size:14px 2px; border:none; text-indent:-9999px; overflow:hidden;}
.content .win_header .win_controller button:last-child {margin-right:0;}
.content .win_header .win_controller button.max {background:#ffffff url('../Image/maxwin@2x.png') no-repeat 50% 50%; background-size:14px 12px;}
.content .win_header .win_controller button.close {background:#ffffff url('../Image/close@2x.png') no-repeat 50% 50%; background-size:12px 11px;}
.content .win_body {overflow:hidden; background:#fff; height:100%; border:1px solid #A0B2CF; border-width:0px 1px 1px 1px; min-height:200px; border-radius:0px 0px 5px 5px;}

.car_manager {height:calc(100vh - 109px);}
.car_manager .car_list {position:relative; padding-top:67px; padding-bottom:161px; float:left; width:820px; height:100%; box-sizing:border-box; border-right:1px solid #E1E7EF}
.car_list .search_line {position:absolute; left:0; top:0; width:100%; box-sizing:border-box; padding:8px;}
.car_list .search_line .wp {position:relative; padding-left:124px; padding-right:60px; border-bottom:1px solid #415294; padding-bottom:8px}
.car_list .search_line select{position:absolute; left:0; top:0; width:124px; height:42px; font-size:16px; padding-left:10px;}
.car_list .search_line input{height:40px; width:calc(100% - 20px); padding-bottom:2px; padding-left:14px; border:none; font-size:22px; }
.car_list .search_line input::placeholder {color:#A0ABB4}
.car_list .search_line button {cursor:pointer; position:absolute; right:0; top:0; width:60px; height:42px; background:url(../Image/carsearch_bu@2x.png) no-repeat 50% 50%; background-size:28px 28px; border:none; text-indent:-9999px; }



.car_list .grid {position:relative; padding:0 0 40px; height:100%; box-sizing:border-box;}
.car_list .grid .wp {height:100%; overflow:auto;}
/* .car_list .grid table {width:100%; font-size:14px; border-collapse: collapse;  }
.car_list .grid table thead tr th {text-align:center; height:42px; font-weight:bold; border:1px solid #A6B6CC; border-width:1px 0px 1px 0px; border-radius:5px; background:url(../Image/table_head_bg.png) repeat-x 0 0;}
.car_list .grid table thead tr th:first-child {border-left:1px solid #A6B6CC; padding-left:10px;}
.car_list .grid table thead tr th:last-child {border-right:1px solid #A6B6CC; padding-right:5px;}
.car_list .grid table tbody tr td {text-align:center; height:46px; border-bottom:1px solid #C9CBCF}
.car_list .grid table tbody tr td:first-child {padding-left:10px;}
.car_list .grid table tbody tr td:last-child {padding-right:5px;}
.car_list .grid table tbody tr td .num {font-size:18px; color:#0063A9;}
.car_list .grid table tbody tr td .carnum {font-size:18px;}
.car_list .grid table tbody tr td .type {}
.car_list .grid table tbody tr td img {vertical-align:middle} */

.car_list .grid .grid_info {position:absolute; bottom:0; width:100%; box-sizing:border-box; padding-left:26px; left:0; height:48px; line-height:48px; background:#EEF1F6;}
.car_list .grid .grid_info .title {display:block; float:left; font-size:16px; font-weight:bold; margin-right:15px; float:left;}
.car_list .grid .grid_info .value {display:block; float:left; font-size:14px; font-weight:bold; padding:0px 10px; min-width:40px; text-align:center; height:25px; line-height:25px; margin-top:11px; border-radius:5px; background:#ffffff }

.car_list .total_info {position:absolute; left:0; bottom:0; padding:12px 0; height:161px; box-sizing:border-box; width:100%; border-top:1px solid #707070}
.car_list .total_info ul {overflow:hidden; height:50%;}
.car_list .total_info ul li {position:relative; float:left; width:34%; height:100%; box-sizing:border-box; text-align:center;}
.car_list .total_info ul:first-child {border-bottom:1px solid #C8C8C8}
.car_list .total_info ul li:first-child {width:33%; border-right:1px solid #C8C8C8}
.car_list .total_info ul li:last-child {width:33%; border-left:1px solid #C8C8C8}
.car_list .total_info ul li .title {float:left; vertical-align:middle; font-size:16px; font-weight:bold; color:#2C73BB; padding-left:10px;}
.car_list .total_info ul:last-child li .title {padding-top:5px}
.car_list .total_info ul li .value {position:absolute; right:0; bottom:0; font-family: 'Rajdhani', sans-serif; font-size:40px; padding-right:10px; line-height:40px; color:#000000;}
.car_list .total_info ul:last-child li .value {bottom:-5px;}
.car_manager .car_info {float:left; width:365px; height:100%;}

.car_info {position:relative; padding-top:206px; padding-bottom:90px; box-sizing:border-box;}
.car_info .title {position:absolute; left:0; top:0; width:100%; height:60px; box-sizing:border-box; line-height:60px; background:#2C73BB; padding:0 17px; color:#ffffff; font-family: 'Rajdhani', sans-serif; font-size:36px;}
.car_info .title span {position:relative; top:-3px; margin-right:22px; padding-left:27px; background:url('../Image/carinfo_bu@2x.png') no-repeat 0 50%; background-size:18px 16px; font-size:16px;}

.car_info .detail {position:absolute; left:0; top:60px; width:100%; height:105px; box-sizing:border-box; background:#F6F8FC; padding:0 17px;}
.car_info .detail ul {padding-top:12px;}
.car_info .detail ul li {font-size:16px; font-weight:bold; margin-bottom:2px}
.car_info .detail ul li .t {display:inline-block; width:105px; color:#2C73BB; font-weight:bold}

.car_info .tab_list {position:absolute; left:0; top:163px; width:100%; overflow:hidden; box-sizing:border-box;}
.car_info .tab_list .tab {cursor:pointer; width:25%; height:42px; border:1px solid #9FA8C9; border-right:0px none; background:#F6F8FC; color:#9BA9BE; float:left; text-align:center; font-size:16px; font-weight:bold;}
.car_info .tab_list.type2 .tab {width:50%;}
.car_info .tab_list .tab .doc {position:relative; top:-2px; margin-right:5px; display:inline-block; vertical-align:middle; width:21px; height:21px; background:url('../Image/doc_bu.png') no-repeat 50% 50%; overflow:hidden; text-indent:-9999px; background-size:21px}
.car_info .tab_list .tab.on {background:#ffffff; border-bottom:1px solid #ffffff; color:#000000}
.car_info .tab_list .tab:first-child {border-left:0px none;}
.car_info .tab_list .tab:last-child {border-right:0px none;}

.car_info .tab_content {height:100%}
.car_info .tab_content>div {display:none;}
.car_info .tab_content>div.on {display:block;}
.car_info .input_list {font-size: 16; padding:0 17px; height: 100%; overflow: auto;}
.car_info .input_list ul {}
.car_info .input_list ul li {margin:0px 0px 10px 0px}
.car_info .input_list ul li h5 {font-size:16px; font-weight:bold; background:url('../Image/detail_li_bu.png') no-repeat 0 50%; padding-left:15px; margin:10px 0;}
/* .car_info .input_list ul li select {width:100%; height:42px; padding-left:7px; box-sizing:border-box; border-radius:5px;} */
/* .car_info .input_list ul li input {width:100%; height:42px; box-sizing:border-box; border-radius:5px; margin-top:5px} */

.car_info .data_list {padding:0 17px; height: 100%; overflow: auto;}
.car_info .data_list .doc {border:1px solid #000; margin-top:10px}
.car_info .data_list .doc>h5 { font-size:16px; font-weight:bold; text-align:center; height:40px; line-height:40px; border-bottom:1px solid #000}
.car_info .data_list ul {}
.car_info .data_list ul li {height:39px; line-height:39px; font-size:15px; border-bottom:1px solid #ACACAC}
.car_info .data_list ul li:last-child {border-bottom:none;}
.car_info .data_list ul li .t {display:block; float:left; width:84px; font-weight:bold; text-align:center; border-right:1px solid #000; box-sizing:border-box;} 
.car_info .data_list ul li .v {display:block; float:left; width:calc(100% - 84px); text-align:center; font-weight:bold;} 
.car_info .data_list .memo {border:1px solid #000; border-top:none;}
.car_info .data_list .memo h5 {font-size:16px; font-weight:bold; padding:10px 0; text-align:center;}
/* .car_info .data_list .memo textarea {padding:5px; width: calc(100% - 10px); border:none; border-radius:5px; height:170px;} */
.car_info .data_list .memo textarea {resize: none; padding:5px; border:none; border-radius:5px; height:151px; width: calc(100% - 10px); }
.car_info .complete_btn {position:absolute; bottom:0; left:0; height:90px; width:100%; padding:0 17px; box-sizing:border-box; }
.car_info .complete_btn button {display:none; cursor:pointer; width:100%; height:62px; border-radius:5px; border:none; margin-top:10px; background:#0C1D33; color:#ffffff; font-size:22px;}
.car_info .complete_btn button.on {display:block}
.car_info .complete_btn button span {padding-left:30px; background:url('../Image/carcomplete_bu@2x.png') no-repeat 0 5px; background-size:24px;}
.car_info .complete_btn button:hover {background-color:#0063A9}

.car_manager.type2 {position:relative; padding-right:365px}
.car_manager.type2 .car_list {width:100%}
.car_manager.type2 .car_info {position:absolute; right: 0; top:0; }

.car_manager.type3 {position:relative; }
.car_manager.type3 .car_list {width:100%}


.car_manager .cctv_viewer {position:relative; padding-top:61px; padding-bottom:17px; padding-right:160px; float:left; width:calc(100% - 1185px); height:100%; background:#0C1D33; box-sizing:border-box;}
.cctv_viewer h4 {position:absolute; left:0; top:0; color:#ffffff; height:61px; line-height:61px; font-size:18px; padding-left:58px; background:url('../Image/cctv_bu@2x.png') no-repeat 27px 50%; background-size:22px 27px;}
.cctv_viewer .cctv_list {padding:0 17px; padding-right:0px;  height:100%;}
.cctv {position:relative; height:50%; box-sizing:border-box;}
.cctv:first-child {padding-bottom:8px}
/*.cctv:last-child {padding-top:8px}*/
.cctv .viewer {background:#000000; width:100%; height:100%; cursor:pointer; box-sizing:border-box;}
/* .cctv .viewer.on {border:2px solid #2D7ADE} */
.cctv .viewer.on {border:2px solid red}
.cctv_other_list {position:absolute; right:13px; top:61px; width:138px; height:calc(100% - 78px); box-sizing:border-box;}
.cctv_other_list ul li {height:138px; background:#000000; margin-bottom:10px; cursor:pointer; color:#fff; text-align:center;}

/*
.cctv .controller {position:absolute; right:10px; bottom:20px; border:1px solid rgba(0,0,0,0.3); padding:5px; height:30px; border-radius:30px; }
.cctv .controller button {vertical-align:top; cursor:pointer; float:left; width:30px; height:30px; margin-right:4px; border-radius:15px; border:none; text-indent:-9999px; overflow:hidden;}
.cctv .controller button.left {background:rgba(0,0,0,0.2) url('../Image/car_controll_left@2x.png') no-repeat 9px 50%; background-size:10px 13px;}
.cctv .controller button.top {background:rgba(0,0,0,0.2) url('../Image/car_controll_top@2x.png') no-repeat 50% 50%; background-size:13px 11px;}
.cctv .controller button.down {background:rgba(0,0,0,0.2) url('../Image/car_controll_down@2x.png') no-repeat 50% 10px; background-size:13px 11px;}
.cctv .controller button.right {background:rgba(0,0,0,0.2) url('../Image/car_controll_right@2x.png') no-repeat 11px 50%; background-size:10px 13px;}
.cctv .controller button.plus {background:rgba(0,0,0,0.2) url('../Image/car_controll_plus@2x.png') no-repeat 50% 50%; background-size:16px 16px;}
.cctv .controller button.minus {margin:0;background:rgba(0,0,0,0.2) url('../Image/car_controll_minus@2x.png') no-repeat 50% 50%; background-size:16px 3px;}
.cctv .controller .sep {display:inline-block; padding-left:5px; border-left:1px solid rgba(0,0,0,0.3)}
.cctv .controller.on {padding:10px; height:60px; border-radius:60px;}
.cctv .controller.on button {width:60px; height:60px; border-radius:30px}
.cctv .controller.on button.left {background:rgba(0,0,0,0.2) url('../Image/car_controll_left@2x.png') no-repeat 45% 50%; background-size:auto;}
.cctv .controller.on button.top {background:rgba(0,0,0,0.2) url('../Image/car_controll_top@2x.png') no-repeat 50% 45%; background-size:auto;}
.cctv .controller.on button.down {background:rgba(0,0,0,0.2) url('../Image/car_controll_down@2x.png') no-repeat 50% 55%; background-size:auto;}
.cctv .controller.on button.right {background:rgba(0,0,0,0.2) url('../Image/car_controll_right@2x.png') no-repeat 55% 50%; background-size:auto;}
.cctv .controller.on button.plus {background:rgba(0,0,0,0.2) url('../Image/car_controll_plus@2x.png') no-repeat 50% 50%; background-size:auto;}
.cctv .controller.on button.minus {margin:0;background:rgba(0,0,0,0.2) url('../Image/car_controll_minus@2x.png') no-repeat 50% 50%; background-size:auto;}
*/

.cctv:last-child .direction .top {top:20px;}
.cctv .viewer {background:#000000; width:100%; height:100%; cursor:pointer; box-sizing:border-box;}
.cctv .viewer.on {border:2px solid #2D7ADE}


.cctv .controller {position:absolute; right:10px; bottom:20px;}
.cctv .controller button {cursor:pointer; opacity:0.7; width:42px; height:42px; border-radius:30px; text-indent:-9999px; overflow:hidden; border:none; float:left; margin-right:5px}
.cctv .controller button:hover {opacity:1}
.cctv .controller button.plus {background:rgba(0,0,0,0.5) url('../Image/car_controll_plus@2x.png') no-repeat 50% 50%; background-size:22px;}
.cctv .controller button.minus {margin:0;background:rgba(0,0,0,0.5) url('../Image/car_controll_minus@2x.png') no-repeat 50% 50%; background-size:22px;}
.cctv .direction button {opacity:0.7; cursor:pointer; width:40px; height:40px; text-indent:-9999px; overflow:hidden; border:none; border-radius:5px}
.cctv .direction button:hover {opacity:1}
.cctv .direction .left {position:absolute; left:10px; top:50%; margin-top:-20px; background:rgba(0,0,0,0.2) url('../Image/car_controll_left@2x.png') no-repeat 50% 50%; background-size:15px auto; }
.cctv .direction .right {position:absolute; right:10px; top:50%; margin-top:-20px; background:rgba(0,0,0,0.2) url('../Image/car_controll_right@2x.png') no-repeat 50% 50%; background-size:15px auto; }
.cctv .direction .top {position:absolute; left:50%; top:10px; margin-left:-20px; background:rgba(0,0,0,0.2) url('../Image/car_controll_top@2x.png') no-repeat 50% 50%; background-size:20px auto; }
.cctv .direction .down {position:absolute; left:50%; bottom:20px; margin-left:-20px; background:rgba(0,0,0,0.2) url('../Image/car_controll_down@2x.png') no-repeat 50% 50%; background-size:20px auto; }

.picture_save {opacity:0.7; position: absolute; right: 10px; top: 20px; height: 42px; border-radius:21px; line-height:42px; width:60px; background:rgba(0,0,0,0.5) url('../Image/camera_bu.png') no-repeat 20px 50%; background-size:26px}
.picture_save:hover {opacity:1}

.file_download {opacity:0.7; position: absolute; right: 10px; top: 70px; height: 42px; border-radius:21px; line-height:42px; width:60px; background:rgba(0,0,0,0.5) url('../Image/download_bu.png') no-repeat 50% 50%;}
.file_download:hover {opacity:1}

/* .picture_save2 {opacity:0.7; position: absolute; right:10px; top: 20px; height: 42px; border-radius:21px; line-height:42px; padding-left:57px; padding-right:10px; background:rgba(0,0,0,0.5) url('../Image/camera_bu.png') no-repeat 21px 10px;}
.picture_save2:hover {opacity:1} */
/*
.picture_save {position: absolute; left: 10px; bottom: 20px; height: 42px; border-radius:21px; line-height:42px; padding-left:57px; padding-right:20px; background:rgba(0,0,0,0.3) url('../Image/camera_bu.png') no-repeat 21px 10px;}
.picture_save a {font-size:14px; color:#ffffff; text-decoration: none;}
.picture_save .server {padding-left:3px; }
.picture_save .mycomputer {padding-left:10px}


.picture_save.on {position: absolute; left: 20px; bottom: 20px; height: 82px; border-radius:41px; line-height:82px; padding-left:67px; padding-right:30px; background:rgba(0,0,0,0.3) url('../Image/camera_bu.png') no-repeat 31px 29px;}
.picture_save.on a {font-size:18px; color:#ffffff;}
.picture_save.on .server {padding-left:3px; }
.picture_save.on .mycomputer {padding-left:10px}
*/
.rain_info {position:absolute; right:13px; top:10px;}
.rain_info .title {color:#fff; font-size:16px; padding-left:33px; background:url('../Image/rain_bu.png') no-repeat 0 50%; }
.rain_info .value {margin-left:10px; display:inline-block; background:#000; text-align:center; height:37px; line-height:37px; padding:0 10px; color:#fff; font-size:16px; }




.cctv_gauge {padding:10px;}

.viewer_range {position:absolute; bottom:0; left:0; width:100%; padding:20px 25px; box-sizing: border-box;}
.viewer_range .wp {overflow:hidden;}
.viewer_range button {cursor:pointer; border:none; float:left; width:33px; height:38px; background:url('../Image/pause_bu.png') no-repeat 45% 50%;}
.viewer_range button.play {background:url('../Image/play_bu.png') no-repeat 50% 50%;}
.viewer_range button.download {float:right; background:url('../Image/download_bu.png') no-repeat 50% 50%;}
.viewer_range button:hover {opacity:0.8}
.viewer_range span.time {float:left; line-height:38px; font-size:14px; color:#fff}
.viewer_range.hover{
  opacity: 0;
}

input[type=range].cctv_gauge {position:relative; top:-5px; padding:0; -webkit-appearance: none; overflow: hidden; width: 100%; height: 5px; background: transparent; cursor: pointer; background: #404040; border-radius:2px; /* iOS */ } 
input[type=range].cctv_gauge:focus { outline: none; } 
input[type=range].cctv_gauge::-webkit-slider-thumb { -webkit-appearance: none; width: 10px; height: 5px; background: #fff; box-shadow: -100vw 0 0 100vw #ffffff; border: 0.1px solid #fff; border-radius:2px; cursor: pointer; }




/* 
.player-wrapper {
  width: auto; 
  height: auto;
}
.react-player {
  padding-top: 56.25%;
  position: relative; 
}

.react-player > div {
  position: absolute; 
} */
