
.content .header {position:relative; height:57px; padding-top:17px; padding-right:300px;}
.content .header .tabs {}
.content .header .tabs .list {}
.content .header .tabs .list li {position:relative; float:left; margin-right:10px;  cursor: pointer;}
.content .header .tabs .list li span {display:block; color:#8C9EBA; height:40px; border:2px solid #D8E2F2; box-sizing:border-box; line-height:35px; padding:0 40px 0px 20px; font-size:15px; font-weight:700; border-radius:20px; background:#D8E2F2;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.content .header .tabs .list li.on span {color:#000000; border:2px solid #5E6D87; background:#ffffff; box-shadow:2px 5px 5px #E3E6EB}
.content .header .tabs .list li span:hover {text-decoration:none; color:#000000; border:2px solid #5E6D87; background:#ffffff; box-shadow:2px 5px 5px #E3E6EB}
.content .header .tabs .list li .close {position:absolute; right:18px; top:14px; background:url('./Image/tab_close@2x.png') no-repeat 50% 50%; width:12px; height:12px; background-size:12px; border:none; cursor:pointer; text-indent:-9999px; overflow:hidden;}


.content .header .common_btns {position:absolute; right:0; top:0;}
.content .header .common_btns button {float:left; height:57px; line-height:57px; padding:0 20px; background:#fff; border:1px solid #D8DFEB; border-width:0px 1px 1px 1px; cursor:pointer;}
.content .header .common_btns button span {display:inline-block; font-size:15px; font-weight:700; }
.content .header .common_btns button.search {border-radius:0 0 5px 0; color:#fff; background:#83C2DE; border:1px solid #83C2DE;}
.content .header .common_btns button.save {border-radius:0 0 0 5px; border-right:none;}
.content .header .common_btns button.del {border-radius:0; border-right:none;}

.content .header .common_btns button.search span {padding-left:24px; background:url('./Image/search_bu@2x.png') no-repeat 0 50%; background-size:18px 18px;}
.content .header .common_btns button.save span {padding-left:24px; background:url('./Image/save@2x.png') no-repeat 0 50%; background-size:18px 18px;}
.content .header .common_btns button.del span {padding-left:24px; background:url('./Image/delete@2x.png') no-repeat 0 50%; background-size:20px 18px;}
