 .Login_Main {
  width: 320px;
  height: 300px;
  margin: 100px auto;
  border-radius: 3px;
  border: 1px solid #DBDBDB;
  background-color: #ffffff;
}
.Login_Text {
  font-size: 30px;
  color: black;
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Arial";
}